<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Register</h2>

              <form [formGroup]="registerForm" (ngSubmit)="registerEmployee()">

                <div class="form-outline mb-4">
                  <div *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched"
                       class="text-danger">
                    Please enter first name.
                  </div>
                  <input type="text" formControlName="firstName" id="firstName" name="firstName"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="firstName">First Name</label>
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched"
                       class="text-danger">
                    Please enter last name.
                  </div>
                  <input type="text" formControlName="lastName" id="lastName" name="lastName"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="lastName">Last Name</label>
                </div>


                <div class="form-outline mb-4">
                  <div *ngIf="registerForm.controls['emailId'].hasError('required') && registerForm.controls['emailId'].touched"
                       class="text-danger">
                    Please enter a email.
                  </div>
                  <div *ngIf="registerForm.controls['emailId'].hasError('pattern') "
                       class="text-danger">
                    Please input email with format : <br> (elland.pansensoy@yahoo.com,<br>elland@pixelplusone.com).
                  </div>
                  <input type="email" formControlName="emailId" id="emailId" name="emailId"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="emailId"> Email</label>
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="registerForm.controls['account'].hasError('required') && registerForm.controls['account'].touched"
                       class="text-danger">
                    Please enter a account.
                  </div>
                  <div *ngIf="registerForm.controls['account'].hasError('minlength') && registerForm.controls['account'].touched"
                       class="text-danger">
                    Please enter a account more than 10 character.
                  </div>
                  <input type="text" formControlName="account" id="account" name="account"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="account">Account</label>
                </div>

                <div class="form-outline mb-4">
                  <div class="text-danger"
                       *ngIf="registerForm?.get('dateOfBirth')?.hasError('date')"
                  >
                    <span class="error-item">Date must be greater than current date!</span>
                  </div>
                  <div *ngIf="registerForm.controls['dateOfBirth'].hasError('required') && registerForm.controls['dateOfBirth'].touched"
                       class="text-danger">
                    Please enter date of birth.
                  </div>
                  <div *ngIf="registerForm.controls['dateOfBirth'].hasError('pattern') && registerForm.controls['dateOfBirth'].touched"
                       class="text-danger">
                    Please format.
                  </div>
                  <nz-date-picker  formControlName="dateOfBirth" class=" form-control form-control-lg" id="dateOfBirth"
                                  name="dateOfBirth"></nz-date-picker>
                  <label class=" d-flex  form-label" for="dateOfBirth">Date Of Birth</label>
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="registerForm.controls['age'].hasError('required') && registerForm.controls['age'].touched"
                       class="text-danger">
                    Please enter age.
                  </div>
                  <div *ngIf="registerForm.controls['age'].hasError('min') && registerForm.controls['age'].touched"
                       class="text-danger">
                    Please enter age more than 0.
                  </div>
                  <div *ngIf="registerForm.controls['age'].hasError('max') && registerForm.controls['age'].touched"
                       class="text-danger">
                    Please enter age less than 100.
                  </div>
                  <input type="number" formControlName="age" id="age" name="age" class="form-control form-control-lg"/>
                  <label class="form-label" for="age">Age</label>
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched"
                       class="text-danger">
                    Please enter a password.
                  </div>

                  <div *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched"
                       class="text-danger">
                    Please enter password more than 8 character.
                  </div>
                  <input type="password" formControlName="password" id="password" name="password" class="form-control form-control-lg"/>
                  <label class="form-label" for="password">Password</label>
                </div>

                  <div class="form-outline mb-4">
                    <input type="password" formControlName="repeatPassword" id="repeatPassword" name="repeatPassword" class="form-control form-control-lg"/>
                  <label class="form-label" for="repeatPassword">Repeat Password</label>
                    <div *ngIf="registerForm.controls['repeatPassword'].hasError('required') && registerForm.controls['repeatPassword'].touched"
                         class="text-danger">
                      Please enter confirm password.
                    </div>
                    <div *ngIf="passwordMatchError"
                         class="text-danger">
                      Please enter a match password.
                    </div>

                </div>


                <div class="d-flex justify-content-center">
                  <button type="submit" [disabled]="registerForm.invalid"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a (click)="backLogin()"
                                                                                        class="fw-bold text-body"><u>Login
                  here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
