<section  class="bg-home bg-circle-gradiant d-flex align-items-center vh-100">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 ">
        <div class="card login-page bg-white shadow rounded border-0">
          <div class="card-body">
            <div class="text-center login-logo">
              <a class="logo text-dark" routerLink="/">QuizLab<span class="text-primary">.</span></a>
            </div>

            <form nz-form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form mt-4" >
              <div class="row">

                <nz-form-item class="form-group position-relative col-lg-12">
                  <nz-form-control [nzErrorTip]="emailErrorTp1">
                    <label>Your Email <span class="text-danger">*</span></label>

                    <nz-input-group  nzPrefixIcon="mail" class="input-rounder pb-2 pt-2 user-icon">
                      <input  nz-input type="email" formControlName="email" placeholder="Email"
                             required email/>
                    </nz-input-group>
                    <ng-template #emailErrorTp1 let-control>
                      <ng-container *ngIf="control.hasError('email')">Email is not valid!</ng-container>
                      <ng-container *ngIf="control.hasError('required')">Please input your Email!</ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item class="form-group position-relative col-lg-12">
                  <nz-form-control nzErrorTip="Please input your Password!">
                    <label>Password <span class="text-danger">*</span></label>
                    <nz-input-group nzPrefixIcon="lock" class="input-rounder pb-2 pt-2">
                      <input type="password" nz-input formControlName="password" placeholder="Password"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>

            </form>
          </div>
        </div><!---->
      </div><!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section>
