<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css" >
<div class="demo-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="text-center image-size-small position-relative">
          <img src="https://annedece.sirv.com/Images/user-vector.jpg" class="rounded-circle p-2 bg-white">
          <div class="icon-camera">
            <a href="" class="text-primary"><i class="lni lni-camera"></i></a>
          </div>
        </div>
        <div class="p-5 bg-white rounded shadow-lg">
          <h3 class="mb-2 text-center pt-5">Sign In</h3>
          <p class="text-center lead">Sign In to manage all your devices</p>
          <form (ngSubmit)="login()" name="formLogin" [formGroup]="loginForm"  >
            <label class="font-500">Account</label>
            <input [(ngModel)]="user.account" formControlName="account"  name="account" class="form-control form-control-lg mb-3" type="text">
            <label class="font-500">Password</label>
            <input [(ngModel)]="user.password" formControlName="password"   name="password" class="form-control form-control-lg" type="password">
            <p class="m-0 py-4"><a href="" class="text-muted">Forget password?</a></p>
            <button class="btn btn-primary btn-lg w-100 shadow-lg">SIGN IN</button>
          </form>
          <div class="text-center pt-4">
            <p class="m-0">Do not have an account? <a href="" class="text-dark font-weight-bold">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
